* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

@font-face {
	font-family: basicWoodlands;
	src: url(TheWoodlands-Regular.otf) format('opentype');
}

@font-face {
	font-family: freestyleScript;
	src: url(Freestyle-Script.ttf) format('truetype');
}

html, body {
	font-family: basicWoodlands;
}

canvas {
	display: block;
	position: absolute;
	font-family: basicWoodlands;
}
