* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

@font-face {
	font-family: typeLobster;
	src: url(Lobster.otf) format('opentype');
}

@font-face {
	font-family: basicWoodlands;
	src: url(Freestyle-Script.otf) format('opentype');
}

@font-face {
	font-family: freestyleScript;
	src: url(Freestyle-Script.otf) format('opentype');
}

html, body {
	font-family: lobster;
}

canvas {
	display: block;
	position: absolute;
	font-family: lobster;
}
